extends layout

block content
  h1= title
  p Please enter your bank value

  form(action="/results" method="POST")
    input(class="form-control" type="text" id="inputValueBox" name="amount")
    button(class="btn btn-primary" type="submit") Calculate